body {
    background-color: rgb(184, 231, 245);
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

h5, input, form {
    margin: 10px;
}

button {
    margin: 10px;
    background-color: rgb(146, 199, 146);
}

#animals-form {
    text-align: right;
}

label {
    margin-right: 10px;
}

#add-animal {
    margin-right: 80px;
}